[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"psycopg2" = "*"
Flask = "*"
Flask-RESTful = "*"
Flask-JWT = "*"
Flask-SQLAlchemy = "*"
uWSGI = "*"

[dev-packages]

[requires]
python_version = "3.6"
